sudo: false
language: java
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk7

cache:
  directories:
    - $HOME/.m2

install: true

script:
  - mvn xml:check-format -P xml-check-format
  - mvn formatter:validate -P common-libs
  - mvn -U clean install
  - mvn -U -P common-libs jacoco:report coveralls:report
