sudo: false
language: java
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk7

cache:
  directories:
    - $HOME/.m2

install: true

script:
  - ./mvn-build-all.sh xml:check-format
  - ./mvn-build-all.sh formatter:validate
  - ./mvn-build-all.sh clean install jacoco:report
  - mvn -U coveralls:report -f terasoluna-gfw-parent/pom.xml