<!DOCTYPE logback>
<configuration DEBUG="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
    </encoder>
  </appender>
  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>org.h2.Driver</driverClass>
      <url>jdbc:h2:mem:terasolung-gfw-web;DB_CLOSE_DELAY=-1</url>
      <user>sa</user>
      <password></password>
    </connectionSource>
  </appender>

  <!-- Library Loggers -->
  <logger name="org.terasoluna">
    <level value="${ut.log.level:-trace}" />
    <appender-ref ref="DB" />
  </logger>

  <!-- 3rdparty Loggers -->
  <logger name="org.springframework.core">
    <level value="warn" />
  </logger>

  <logger name="org.springframework.beans">
    <level value="warn" />
  </logger>

  <logger name="org.springframework.context">
    <level value="warn" />
  </logger>

  <logger name="org.springframework.web">
    <level value="warn" />
  </logger>

  <logger name="org.springframework.web.servlet">
    <level value="info" />
  </logger>

  <logger name="org.springframework.security.core.userdetails">
    <level value="debug" />
  </logger>

  <!-- for hibernate3 -->
  <logger name="org.hibernate.transaction">
    <level value="debug" />
  </logger>

  <!-- for hibernate4 -->
  <logger name="org.hibernate.engine.transaction">
    <level value="debug" />
  </logger>

  <logger name="org.hibernate.cfg.annotations.QueryBinder">
    <level value="debug" />
  </logger>

  <logger name="org.hibernate.tool">
    <level value="debug" />
  </logger>

  <logger name="jdbc.sqltiming">
    <level value="debug" />
  </logger>

  <root>
    <level value="warn" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
